.header {
    background: #b71775;
    height: 200px;
  }
  
.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: #eb0f0f;
    font-size: 3rem;
  }

.button-gap {
  margin-left: 10px;
}
  