.incomingMsg {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: lightsalmon;
}

.outgoingMsg {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: lightblue;
}